.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7%;
  background: var(--bg);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar .menu a {
  font-family: "areo", sans-serif;
  margin-left: 1rem;
  color: var(--text);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  font-family: "poetsenone", sans-serif;
}

.navbar .navbar-logo span {
  color: var(--text);
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
