{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LivingHome</title>
    <link
      rel="icon"
      type="image/png"
      href="{%  static 'asset/icon/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%  static 'css/root.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%  static 'app/css/404.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div>
          <h1>Living<span>Home</span></h1>
          <h2>Link tidak aktif</h2>
        </div>
        <div>
          <img src="{%  static 'asset/img/404.png' %}" alt="ok" />
        </div>
      </div>
    </div>
  </body>
</html>
