{% load static %} 
<div class="detail-container">
  <div class="detail">
    <h1>{{ product.title }}</h1>
    <h2>IDR {{ product.price }}</h2>
    <textarea class="description">{{ product.description }}</textarea>
    <div class="btn-container">
      <img
        id="btn-wa"
        src="{% static 'asset/img/btnWA.png' %}"
        alt="Chat"
        onclick="window.location.href='/web/{{ link.web_link }}'"
      />
    </div>
  </div>
  <div class="detail comment">
    <div class="header">
      <h1>Add Comment</h1>
    </div>
    <form method="post">
      {% csrf_token %}
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="name" name="name" />
      <label>Comment</label>
      <textarea
        name="comment"
        id="comment"
        placeholder="comment"
        cols="30"
        rows="5"
      ></textarea>
      <input type="hidden" name="form_type" value="addComment" />
      <button type="submit">send</button>
    </form>
  </div>
</div>

{% if product.comments %}
<br />
<h1>Comment</h1>
<br />
{% endif %} {% for comment in product.comments.all %}
<div class="comment-container">
  <h3>{{ comment.name }}</h3>
  <p>{{ comment.comment }}</p>
</div>
{% endfor %}
