{% extends 'app/base.html' %} {% load static %} {% block title %}
<title>LivingHome-Admin</title>
{% endblock %} {% block sccApp %}
<link
  rel="stylesheet"
  type="text/css"
  href="{%  static 'app/css/monitoring.css' %}"
/>
{% endblock %} {% block content %}
<section class="monitoring">
  <form method="post" id="myForm">
    {% csrf_token %}
    <div class="submenu">
      <div class="date-between">
        <input type="date" id="date1" name="date1" placeholder="date1" />
        <input type="date" id="date2" name="date2" placeholder="date2" />
      </div>
      <div class="menu-container">
        <select name="chart-style" id="chart-style">
          <option value="1" selected>plot</option>
          <option value="2">bar</option>
        </select>
        <select name="cbx-chart" id="cbx-chart">
          <option value="1" selected>all</option>
          <option value="2">product</option>
          <option value="3">custom</option>
          <option value="4">custom Product</option>
        </select>
        <button type="submit" id="btn-submit">submit</button>
      </div>
    </div>
    <input type="text" id="id_product" name="id_product" hidden value="{{ idProduct.id }}"/>
  </form>
  <div class="list-product">
    {% for product in products %}
    {% with product.images.first as first_image %}
    <div class="product" id="product-{{ product.id}}">
      <a href="#" onclick="selected('{{ product.id}}')">
        <img
        src="{%  static 'upload/' %}{{ first_image.image_uri }}"
        alt="{{ product.id }}"
        />
        <h3>{{ product.title }}</h3></a
        >
      </div>
    {% endwith %}
    {% endfor %}
  </div>
  {% if idProduct is not None %}
  <h1>Chart pemasaran {{ idProduct.title }} </h1>
  {% else %}
  <h1>Chart pemasaran semua produk </h1>
  {% endif %}
  <div class="monitor">
    {% for chart in charts %}
    <img
      src="{%  static 'export/' %}{{ chart }}"
      alt="{{ chart }}"
    />
    {% endfor %}
  </div>
  <div class="tbl">
    <div class="frezze-row">
      <h2>Title</h2>
      {% for product in products %}
      <h3 class="title">{{ product.mini_title }}</h3>
      {% endfor %}
    </div>
    <div class="scroll-row">
      <div class="row" id="header">
        <h2>Web Link</h2>
        <h2>IG Link</h2>
        <h2>FB Link</h2>
        <h2>Web Click</h2>
        <h2>IG Click</h2>
        <h2>FB Click</h2>
        <h2>Web Checkout</h2>
        <h2>IG Checkout</h2>
        <h2>FB Checkout</h2>
        <h2>Total Click</h2>
        <h2>Total Checkout</h2>
      </div>
      {% for product in products %}
      {% with product.links.first as first_link %}
      <div class="row">
        <h3>/web/{{ first_link.web_link }}</h3>
        <h3>/ig/{{ first_link.ig_link }}</h3>
        <h3>/fb/{{ first_link.fb_link }}</h3>
        <h3>{{ first_link.web_click }}</h3>
        <h3>{{ first_link.ig_click }}</h3>
        <h3>{{ first_link.fb_click }}</h3>
        <h3>{{ first_link.web_checkout }}</h3>
        <h3>{{ first_link.ig_checkout }}</h3>
        <h3>{{ first_link.fb_checkout }}</h3>
        <h3>{{ first_link.total_clicks }}</h3>
        <h3>{{ first_link.total_checkout }}</h3>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %} {% block scriptApp %}
<div id="menu" style="display: none;">{{ menu }}</div>
<div id="menuChart" style="display: none;">{{ menuChart }}</div>
<div id="date_1" style="display: none;">{{ date_1 }}</div>
<div id="date_2" style="display: none;">{{ date_2 }}</div>
<script src="{%  static 'app/js/monitoring.js' %}"></script>
{% endblock %}
