section {
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 7%;
}

input,
select {
  border: 1px solid var(--bg);
}

.submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

#cbx-chart {
  margin-left: auto;
}

.date-between {
  display: none;
}

#btn-submit {
  height: 100%;
  padding: 0.2rem;
  background-color: var(--primary);
  color: #fff;
}

.list-product {
  overflow-y: auto;
  display: none;
  height: max-content;
}

.list-product::-webkit-scrollbar {
  display: none;
}

.product {
  height: 6rem;
  width: max-content;
  border: 1px solid var(--bg);
  margin: 0.5rem;
  border-radius: 1rem;
}

.product a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.product a img {
  height: 100%;
  width: 6rem;
  object-fit: cover;
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

.product a h3 {
  padding: 0.5rem;
  font-family: "areo", sans-serif;
  width: max-content;
  border: none;
}

.monitor {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  position: relative;
}

.monitor img {
  width: 100%;
  height: auto;
  border: 1px solid var(--bg);
  object-fit: cover;
}

.tbl {
  display: flex;
  overflow-x: auto;
  width: 100%;
  margin-top: 1.5rem;
}

.freeze-row {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

.scroll-row {
  flex: 1;
  overflow-x: auto;
}
.scroll-row::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
}

h2,
h3 {
  padding: 8px;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
  font-family: "areo", sans-serif;
}

.row h2,
.row h3 {
  flex: 0 0 25%;
}

h2 {
  background-color: #ddd;
  flex: 0 0 inherit;
}

.title {
  text-align: left;
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .row h2,
  .row h3 {
    flex: 0 0 50%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .row h2,
  .row h3 {
    flex: 0 0 100%;
  }
}
